.task__nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 4;
  height: 100px;
  width: 100vw;
  background-color: var(--black);
  color: var(--green);
  -webkit-box-shadow: rgb(0 0 0 / 19%) 0px 10px 20px,
    rgb(0 0 0 / 23%) 0px 6px 6px;
  box-shadow: rgb(0 0 0 / 19%) 0px 10px 20px, rgb(0 0 0 / 23%) 0px 6px 6px;
}

.task__nav__fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
}

.task__nav__fields p {
  margin-right: auto;
  font-size: larger;
}

.task__nav__img {
  border-radius: 50%;
}
.task__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.task__media__btn {
  display: none;
  width: 50px;
  height: 50px;
  color: red;
  font-size: 2rem;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: none;
}

@media (max-width: 500px) {
  .task__nav__fields p {
    font-size: large;
  }
  .task__nav__fields {
    padding: 2rem 0;
  }
}

@media (max-width: 400px) {
  .task__nav__fields p {
    font-size: small;
  }
  .task__btn {
    display: none;
  }
  .task__media__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
