.task__obj__form {
  flex-direction: row;
  width: 100%;
}
.task__obj__form > :first-child {
  margin-left: auto;
}

.task__obj {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;
  padding: 0.5rem 0;
  margin: 1rem 0;
  border-radius: 16px;
  border: 5px outset var(--green);
}

.task__obj__header {
  display: flex;
  padding: 1rem;
  flex-direction: row;
  justify-content: space-between;
}

.task__obj__hide {
  display: none !important;
}
.task__obj__show {
  display: flex !important;
}

.task__obj__calc {
  display: flex;
  margin-left: auto;
}

.task__obj__details__expanded {
  display: flex;
  padding: 1rem;
  justify-content: center;
}

.task__expand__btn,
.task__obj__del {
  outline: none;
  border: none;
  font-size: 1.5rem;
  background: var(--black);
  color: var(--green);
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.task__obj__del {
  color: red;
}
.task__obj__input {
  text-align: center;
  width: 50px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}
