.task__obj__form {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
}

.task__obj__form > :first-child {
  margin-left: auto;
}

.task__obj {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;
  padding: 0.5rem 0;
  margin: 1rem;
  border-radius: 16px;
  border: 5px outset var(--green);
}

.task__obj__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.task__obj__hide {
  display: none !important;
}
.task__obj__show {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.task__obj__calc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.task__obj__details__expanded {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.task__expand__btn,
.task__obj__del {
  outline: none;
  border: none;
  font-size: 1.5rem;
  background: var(--black);
  color: var(--green);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.task__obj__del {
  color: red;
}
.task__obj__input {
  text-align: center;
  width: 50px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

@media (max-width: 580px) {
  .task__obj__form {
    gap: 0.5rem;
  }
  .task__obj__input {
    width: 10px;
  }
}

@media (max-width: 280px) {
  .task__obj__form {
    gap: 0.2rem;
  }
}
