.task__master {
  position: relative;
  top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 1rem;
  width: 75%;
  gap: 1rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.task__master__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 1rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem;
  border-bottom: 1.5px solid var(--green);
}
.task__master__btn {
  width: 50px;
  height: 50px;
  font-size: 2rem;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: none;
}
.task__master__refresh {
  margin-left: auto;
  font-size: 1.5rem;
  color: red;
}

.task__show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.task__hide {
  display: none;
}

@media (max-width: 530px) {
  .task__master {
    width: 100%;
    margin: 1rem 0;
  }
}

@media (max-width: 350px) {
  .task__master__header h2 {
    font-size: medium;
  }
}

@media (max-width: 275px) {
  .task__master__header h2 {
    font-size: small;
  }
}
