.task__register {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.task__line__btn {
  background: transparent;
  cursor: pointer;
  outline: none;
  border: none;
  height: fit-content;
  width: fit-content;
  color: red;
  transition: 1s all ease-in-out;
}

.task__line__btn:hover {
  border-bottom: 1px solid red !important;
}

.task__checkbox {
  width: var(--card-width) !important;
}

.task__check__field {
  align-self: flex-start;
}
.task__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.task__reg__card {
  border-radius: 132px 0px 123px 0px !important;
  -moz-border-radius: 132px 0px 123px 0px !important;
  -webkit-border-radius: 132px 0px 123px 0px !important;
  border: 11px outset var(--green) !important;
}
