.task__register {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.task__line__btn {
  background: transparent;
  cursor: pointer;
  outline: none;
  border: none;
  height: fit-content;
  width: fit-content;
  color: red;
  transition: 1s all ease-in-out;
}

.task__line__btn:hover {
  border-bottom: 1px solid red !important;
}

.task__checkbox {
  width: var(--card-width) !important;
}

.task__checkbox {
  position: absolute;
  opacity: 0;
}
.task__checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}
.task__checkbox + label:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: white;
}
.task__checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
.task__checkbox:checked + label:before {
  background: var(--green);
}
.task__checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
.task__checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.task__checkbox:checked + label:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 9px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white,
    4px -6px 0 white, 4px -8px 0 white;
  transform: rotate(45deg);
}

.task__check__field {
  align-self: flex-start;
}
.task__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.task__reg__card {
  border-radius: 132px 0px 123px 0px !important;
  -moz-border-radius: 132px 0px 123px 0px !important;
  -webkit-border-radius: 132px 0px 123px 0px !important;
  border: 11px outset var(--green) !important;
}
