.task__card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 3rem;
  width: var(--card-width) !important;
  height: var(--card-height);
  align-items: center;
  border-radius: 0px 132px 0px 123px;
  -moz-border-radius: 0px 132px 0px 123px;
  -webkit-border-radius: 0px 132px 0px 123px;
  border: 11px outset var(--green);

  justify-content: center;
}
