:root {
  --card-width: max-content;
  --card-height: max-content;
  --green: #26ff05;
  --black: #101820ff;
}
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--black);
  overflow-x: hidden;
  color: var(--green);
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#overlay {
  z-index: 5;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.625);
  width: 100%;
  height: 100%;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
